astroid
attrs
backcall
cachetools
certifi
cffi
chardet
click
colorama
cryptography
decorator
Flask
httplib2
idna
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
lazy-object-proxy
MarkupSafe
mccabe
nbformat
oauth2client
oauthlib
parso
pickleshare
prometheus-client
prompt-toolkit
pyasn1
pyasn1-modules
pycparser
Pygments
pylint
pyrsistent
pyserial
pyzmq
requests
requests-oauthlib
rsa
Send2Trash
six
tornado
traitlets
urllib3
wcwidth
Werkzeug
wrapt
